.divider {
  display: block;
  height: 1px;
  line-height: 1px;
  width: 110px;
}

.divider--green {
  background-color: #8bbb82; // non-standard
}

.divider--gray {
  background-color: #a0a0a0; // non-standard
}
